body {
    font-family: 'Open Sans';
    font-size: 14px;
}

h1 {
    text-align: center;
    margin: 3em 0;
}

section {
    font-weight: 300;
    text-indent: 1em;
    width: 50vw;
    position: relative;
    left: 25vw;
    min-left: 5vw;
    text-align: justify;
    top: 15vh;
}


/* ============== */

.narutoRight {
    position: absolute;
    height: 60%;
    top: 40vh;
    left: 75vw;
}

.narutoRight+cite {
    position: absolute;
    top: 40vh;
    left: 80vw;
}

.sasukeLeft {
    position: absolute;
    top: 40vh;
    left: 3em;
    height: 60%;
}

.sasukeLeft+cite {
    position: absolute;
    left: 10em;
    top: 40vh;
}

.sishuiRight {
    position: absolute;
    height: 60%;
    top: 150vh;
    left: 75vw;
}

.itachiLeft {
    position: absolute;
    top: 150vh;
    left: 3em;
    height: 60%;
}

.sakuraRight {
    position: absolute;
    top: 260vh;
    left: 1em;
    height: 60%;
}

.hinataLeft {
    position: absolute;
    height: 60%;
    top: 260vh;
    left: 75vw;
}

.painLeft {
    position: absolute;
    height: 60%;
    top: 340vh;
    left: 3em;
    z-index: -1;
}

.gaaraRight {
    position: absolute;
    top: 340vh;
    height: 60%;
    z-index: -1;
    left: 75vw;
}


/* ================== */

#jutsu {
    position: relative;
    top: 10em;
}

.jutsuLink {
    list-style-type: none;
}

.jutsuLink li {
    left: 1em;
    position: relative;
}

.jutsuLink li ul {
    left: 1em;
    position: relative;
    list-style-type: square;
}

#keke {
    position: relative;
    top: 10em;
    bottom: 10em;
}


/* ============ Characters images================= */

.characters div {
    position: relative;
    top: 1em;
    margin-bottom: 2em;
}

.characters div>p>a>h3 {
    top: 6em;
    position: relative;
}

.position {
    display: block;
    float: left;
    clear: both;
    position: relative;
    left: -2em;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.position img {
    width: 19vw;
    margin-top: -2em;
    margin: .3em;
    padding: .3em;
}

#gaara,
#itachi {
    margin-top: 8em;
}

#keke .position,
#itachi .position,
#gaara .position {
    display: block;
    float: right;
    /* clear: both; */
    position: relative;
    top: -1em;
    right: 22em;
    margin: 0;
    padding: 0%;
    left: 0;
}

dt {
    font-size: 15px;
    font-weight: bold;
}

table {
    float: left;
    position: relative;
    margin: 1em;
}

table img {
    position: relative;
    width: 10em;
    float: left;
}


/* =========== */


/*================Hidden and Showing Extra Info */

#hiddenNa,
#hiddenSa,
#hiddenSk,
#hiddenHk,
#hiddenIt,
#hiddenNj,
#hiddenGa,
#hiddenHin {
    display: none;
}

#hiddenNa:target,
#hiddenSa:target,
#hiddenSk:target,
#hiddenHk:target,
#hiddenIt:target,
#hiddenNj:target,
#hiddenGa:target,
#hiddenHin :target {
    display: initial;
}


/* ===================== */

#testScript {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    font-size: 2em;
    margin: 0;
    padding: 10vmin;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 50vh;
    vertical-align: middle;
    z-index: 1000000;
}

#click {
    position: absolute;
    top: 32vh;
    opacity: 1;
    left: 16em;
    width: 8em;
    border-radius: 20em;
    padding: .5em;
}

.logo {
    position: absolute;
    top: 1vh;
    left: 2vw;
    opacity: .6;
}

.logo figure>img {
    width: 20em;
}

#explainer {
    width: 20em;
    height: auto;
    line-height: 1.5em;
    color: red;
    border: 1px dashed #0034ab;
    background-color: rgba(200, 255, 50, .5);
}


/* ============================= */

figcaption {
    position: relative;
    top: 1em;
    z-index: 20;
}

#work-cited {
    top: 5vh;
    margin-bottom: 10vh;
}

#work-cited li {
    list-style-type: decimal;
}