section {
    font-family: 'Open Sans';
    font-weight: 300;
    text-indent: 1em;
    width: 50vw;
    font-size: 14px;
    position: relative;
    left: 25vw;
    text-align: justify;
    top: 10vh;
}


/* Managing social bar */

.socialRes {
    position: fixed;
    right: 2vw;
    top: 40vh;
}

.socialRes li {
    text-decoration: none;
    display: block;
    width: 3em;
}

.socialRes img {
    margin-left: -1.6em;
    /* width: 3em; */
    margin-right: -1.3em;
    background-color: rgb(82, 32, 219);
    /* z-index: -1; */
}

.socialRes img:hover {
    width: 180%;
}


/* ===============sidebar================== */

.sideBar {
    display: inline-block;
    position: fixed;
    left: 1vw;
    top: 20vh;
    overflow: hidden;
    width: 10vw;
    cursor: pointer;
    height: auto;
    line-height: auto;
    border-radius: 20px;
    background-color: #8ce913;
}

.sideBarContent {
    display: none;
    /* z-index: 1; */
}

.sideBar:hover .sideBarContent {
    display: block;
    height: auto;
    transition-delay: 900ms;
    transition-duration: 2s;
    -moz-transition-delay: 900ms;
}

.sideBarContent li {
    display: none;
}

.sideBarContent:hover .mainPage:hover li {
    display: block;
    transition-delay: 900ms;
}

.sideBar:hover .country:hover li {
    display: block
}

.sideBar:hover .clans:hover li {
    display: block
}

.sideBar:hover .beasts:hover li {
    display: block
}

.sideBar:hover .hokages:hover li {
    display: block
}

.sideBar:hover .akatsuki:hover li {
    display: block
}


/* ===============sidebar================== */


/* ============ Characters images================= */

.position {
    display: block;
    float: left;
    clear: both;
    position: relative;
    left: -2em;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.position img {
    width: 20vw;
    margin: .3em;
    padding: .3em;
}

figcaption {
    position: relative;
    background-color: rgb(214, 160, 13, .9);
    top: -2.3em;
    text-align: right;
    left: 23.4em;
    width: min-content;
}

#gaara {
    margin-top: 10em;
}

#itachi {
    margin-top: 6em;
}

#itachi .position,
#gaara .position {
    display: block;
    float: right;
    /* clear: both; */
    position: relative;
    top: -1em;
    right: 22em;
    margin: 0;
    padding: 0%;
    left: 0;
    /* z-index: -1; */
}


/* =========== */


/*================Hidden and Showing Extra Info */

#hiddenNa {
    display: none;
}

#hiddenNa:target {
    display: initial;
}

#hiddenSa {
    display: none;
}

#hiddenSa:target {
    display: initial;
}

#hiddenSk {
    display: none;
}

#hiddenSk:target {
    display: initial;
}

#hiddenHk {
    display: none;
}

#hiddenHk:target {
    display: initial;
}

#hiddenNj {
    display: none;
}

#hiddenNj:target {
    display: initial;
}

#hiddenGa {
    display: none;
}

#hiddenGa:target {
    display: initial;
}