body {
    font-family: 'Open Sans';
    font-size: 14px;
}

section {
    font-weight: 300;
    text-indent: 1em;
    width: 50vw;
    position: relative;
    left: 25vw;
    text-align: justify;
    top: 10vh;
}


/* =========forms */

.survey {
    position: absolute;
    top: 10em;
    left: 10em;
}

.survey p {
    font-weight: 800;
}


/* ================= */


/* ============== */

.narutoRight {
    position: absolute;
    height: 60%;
    top: 80vh;
    left: 75vw;
}

.narutoRight+cite {
    position: absolute;
    top: 80vh;
    left: 80vw;
}

.sasukeLeft {
    position: absolute;
    top: 80vh;
    left: 3em;
    height: 60%;
}

.sasukeLeft+cite {
    position: absolute;
    left: 10em;
    top: 80vh;
}

.sishuiRight {
    position: absolute;
    height: 60%;
    top: 200vh;
    left: 75vw;
}

.itachiLeft {
    position: absolute;
    top: 200vh;
    left: 3em;
    height: 60%;
}

.sakuraRight {
    position: absolute;
    top: 270vh;
    left: 3em;
    height: 60%;
}

.hinataLeft {
    position: absolute;
    height: 60%;
    top: 270vh;
    left: 75vw;
}

.nejiLeft {
    position: absolute;
    top: 360vh;
    left: 10em;
    height: 60%;
}

.painLeft {
    position: absolute;
    height: 60%;
    top: 420vh;
    left: 10em;
    z-index: -1;
}

.gaaraRight {
    position: absolute;
    top: 420vh;
    height: 60%;
    z-index: -1;
    left: 75vw;
}


/* ================== */

#jutsu {
    position: relative;
    top: 10em;
}

#keke {
    position: relative;
    top: 10em;
    bottom: 10em;
}


/* Managing social bar */

.socialRes {
    position: fixed;
    right: 2vw;
    top: 40vh;
    z-index: 10;
}

.socialRes li {
    text-decoration: none;
    display: block;
    width: 3em;
}

.socialRes img {
    margin-left: -1.6em;
    /* width: 3em; */
    margin-right: -1.3em;
    background-color: rgb(82, 32, 219);
    /* z-index: -1; */
}

.socialRes img:hover {
    width: 180%;
}


/* ===============sidebar================== */

.sideBar {
    position: fixed;
    left: 1vw;
    top: 20vh;
    overflow: hidden;
    width: 10vw;
    cursor: pointer;
    height: auto;
    line-height: auto;
    border-radius: 20px;
    background-color: #8ce913;
}

.sideBarContent a {
    text-decoration: none;
}

.sideBarContent li {
    display: none;
}

.sideBar:hover li {
    display: block;
}

.sideBar:hover ul li ul {
    display: none;
}

.sideBar:hover li:hover ul {
    display: block;
}


/* ===============sidebar================== */


/* ============ Characters images================= */

div div {
    position: relative;
    top: 1em;
}

.position {
    display: block;
    float: left;
    clear: both;
    position: relative;
    left: -2em;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.position img {
    width: 19vw;
    margin-top: -2em;
    margin: .3em;
    padding: .3em;
}

#gaara {
    margin-top: 10em;
}

#itachi {
    margin-top: 6em;
}

#keke .position,
#itachi .position,
#gaara .position {
    display: block;
    float: right;
    /* clear: both; */
    position: relative;
    top: -1em;
    right: 22em;
    margin: 0;
    padding: 0%;
    left: 0;
    /* z-index: -1; */
}


/* =========== */


/*================Hidden and Showing Extra Info */

#hiddenNa {
    display: none;
}

#hiddenNa:target {
    display: initial;
}

#hiddenSa {
    display: none;
}

#hiddenSa:target {
    display: initial;
}

#hiddenSk {
    display: none;
}

#hiddenSk:target {
    display: initial;
}

#hiddenHk {
    display: none;
}

#hiddenHk:target {
    display: initial;
}

#hiddenIt {
    display: none;
}

#hiddenIt:target {
    display: initial;
}

#hiddenNj {
    display: none;
}

#hiddenNj:target {
    display: initial;
}

#hiddenGa {
    display: none;
}

#hiddenGa:target {
    display: initial;
}

#hiddenHin {
    display: none;
}

#hiddenHin :target {
    display: initial;
}


/* ===================== */