.footerContainer {
    position: relative;
    overflow: hidden;
    background-color: #9e9d9aef;
    width: 100vw;
    bottom: 0;
    height: 13vw;
    top: 20em;
    border-top: 4px solid;
    padding-left: 8em;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 1.6;
}

.footerAboutUs {
    position: absolute;
    width: 44vw;
}

.footerAboutUs p:first-of-type {
    font-weight: 900;
}


/* ===================================  */

.footermenu {
    position: absolute;
    left: 54vw;
    line-height: 1.8;
}

.footermenu ul {
    list-style-type: none;
}

.footermenu a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}


/* ================================================== */

#form {
    position: absolute;
    right: 23vw;
    top: .7em;
    width: 250px;
    font-size: 12;
    font-weight: bold;
}

.footerSocial {
    position: absolute;
    right: 16vw;
    font-weight: bold;
}