 /* navbar desinging  */
 
 body {
     font-family: 'Open Sans';
     font-size: 16px;
 }
 
 * {
     margin: 0;
     padding: 0;
 }
 
 .navbarContainer {
     position: absolute;
     top: 0;
     left: 25vw;
     width: auto;
     display: block;
     transition: .6s;
     padding: 3em 5em;
     z-index: 100;
 }
 
 .navbarContainer ul {
     list-style-type: none;
 }
 
 .navbarContainer li {
     text-align: center;
     line-height: 3em;
     float: left;
     width: 10em;
     border-radius: 12px;
     margin-right: 4px;
     background-color: #c7d0d3;
     /* background-color: rgb(199, 208, 211, .4) */
 }
 
 .navbarContainer li a {
     display: block;
     color: #8b9dc3;
     font-weight: 600;
     text-decoration: none;
 }
 
 .navbarContainer li a:hover {
     border-radius: 12px;
     background-color: #ff0000;
 }
 
 .navbarContainer li ul li {
     display: none;
 }
 
 ul li:hover ul li {
     display: block;
     border-radius: 12px;
 }