/* body of main html page */

body {
    font-family: 'Open Sans';
    font-size: 14px;
}

#tailBeasts {
    font-family: 'Open Sans';
    text-indent: 1em;
    position: relative;
    left: 33em;
    width: 50vw;
    top: 20vh;
    text-align: justify;
    line-height: 3vh;
    margin-bottom: 8vh;
}

h1 {
    text-align: center;
    padding: 3em;
}

a {
    text-decoration: none;
}

div li {
    list-style-type: none;
    padding-left: 1em;
}

.underline {
    text-decoration: underline;
}


/* ======banner images============== */

.sishui_susanoo {
    width: 80%;
    top: 10em;
    left: 26em;
    float: left;
    z-index: -3;
    overflow: auto;
    position: absolute;
    background: transparent url(img/play-button.png) no-repeat;
    background-position: center;
}

.madara_susanoo {
    width: 60%;
    top: 80em;
    left: 2em;
    float: left;
    z-index: -3;
    overflow: auto;
    position: absolute;
    background: transparent url(img/play-button.png) no-repeat;
    background-position: center;
}

.itachi_susanoo {
    width: 80%;
    top: 260em;
    left: -32em;
    float: left;
    z-index: -3;
    overflow: auto;
    position: absolute;
    background: transparent url(img/play-button.png) no-repeat;
    background-position: center;
}

.sasuke_susanoo {
    width: 100%;
    top: 370em;
    left: -40em;
    float: left;
    z-index: -3;
    overflow: auto;
    position: absolute;
    background: transparent url(img/play-button.png) no-repeat;
    background-position: center;
}


/* ============================================ */


/* images location and desinging */

.totalBijuus img {
    display: block;
    width: 60%;
    margin: .8em .8em .8em -2em;
    float: inline-start;
    box-shadow: 4px 13px 40px #6340e0;
    color: aqua;
}


/* Floating image on the right side  */

.rightFloat {
    float: right;
    margin: -1em 0 .4em .6em;
    clear: both;
    padding-left: 1em;
    border-style: none none solid solid;
    border-color: rgb(6, 172, 42);
}


/*the right side floats images regular size */

.rightFloat img {
    width: 10vw;
    margin-left: -2em;
}


/*the right side floats images hovering size */

.rightFloat img:hover {
    width: 20vw;
}


/* Floating image on the left side  */

.leftFloat {
    float: left;
    clear: both;
    margin: .6em .6em .4em -2em;
    border-style: none solid solid none;
    border-color: rgb(236, 179, 110);
}


/*the left side floats images hovering size */

.leftFloat img {
    width: 10vw;
    /* margin-left: -2em; */
}


/*the left side floats images hovering size */

.leftFloat img:hover {
    width: 20vw;
}


/* figcaption desing */

figcaption {
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: bolder;
    color: rgb(228, 225, 42);
    background-color: rgb(148, 172, 62);
    min-width: 3em;
}


/* Special requirements for the img 5 */

.five img {
    width: 10vw;
}

.five img:hover {
    width: 20vw;
}


/* Special hovering requirement for the img 10 */

.tenTail img:hover {
    position: relative;
    width: 30vw;
    z-index: 10;
}

#ichibi,
#nibi,
#sanbi,
#yonbi,
#gobi,
#rokubi,
#kyubi,
#jubi {
    margin-top: 7em;
}

#hachibi {
    margin-top: 20em;
}