body {
    font-family: 'Open Sans';
    font-size: 14px;
}


/* Managing social bar */

.socialRes {
    position: fixed;
    right: 2vw;
    top: 40vh;
}

.socialRes li {
    text-decoration: none;
    display: block;
    width: 3em;
}

.socialRes img {
    margin-left: -1.6em;
    /* width: 3em; */
    margin-right: -1.3em;
    background-color: rgb(82, 32, 219);
    /* z-index: -1; */
}

.socialRes img:hover {
    width: 180%;
}


/* =========forms */

.survey {
    position: absolute;
    top: 10em;
    left: 10em;
}

.survey p {
    font-weight: 800;
}


/* ================= */

section {
    font-weight: 300;
    text-indent: 1em;
    width: 50vw;
    font-size: 14px;
    position: relative;
    left: 25vw;
    text-align: justify;
    top: 10vh;
}

#Hats img {
    position: relative;
    width: 8em;
    margin-left: 1em;
    margin-right: 1em;
}

.Kage img {
    position: relative;
    width: 12em;
    height: 10em;
    display: inline-block;
    margin-left: 1em;
    /* margin-right: 1em; */
}

.Kage .secondLine {
    margin-left: 2em;
}

.Kage .thirdLine {
    margin-left: 1.7em;
}

.Kage h2 {
    text-align: center;
}


/* ===============sidebar================== */

.sideBar {
    position: fixed;
    left: 1vw;
    top: 20vh;
    overflow: hidden;
    width: 10vw;
    cursor: pointer;
    height: auto;
    line-height: auto;
    border-radius: 20px;
    background-color: #8ce913;
}

.sideBarContent a {
    text-decoration: none;
}

.sideBarContent li {
    display: none;
}

.sideBar:hover li {
    display: block;
}

.sideBar:hover ul li ul {
    display: none;
}

.sideBar:hover li:hover ul {
    display: block;
}


/* ===============sidebar================== */