body {
    font-family: 'Open Sans';
    font-size: 14px;
}


/* Managing social bar */

.socialRes {
    position: fixed;
    right: 2vw;
    top: 40vh;
}

.socialRes li {
    text-decoration: none;
    display: block;
    width: 3em;
}

.socialRes img {
    margin-left: -1.6em;
    margin-right: -1.3em;
    background-color: rgb(82, 32, 219);
    z-index: 10;
    border-radius: 12px;
}

.socialRes img:hover {
    width: 180%;
}


/* ================= */

.left_banner {
    position: fixed;
    top: 10vh;
    left: 2vw;
    z-index: -5;
    opacity: .6;
}

.right_banner {
    position: fixed;
    top: 10vh;
    left: 80vw;
    z-index: -5;
    opacity: .6;
}

section {
    font-weight: 300;
    text-indent: 1em;
    width: 50vw;
    font-size: 14px;
    position: relative;
    left: 25vw;
    text-align: justify;
    top: 10vh;
}

#Hats img {
    position: relative;
    width: 8em;
    margin-left: 1em;
    margin-right: 1em;
}

.Kage img {
    position: relative;
    width: 12em;
    height: 10em;
    display: inline-block;
    margin-left: 1em;
    /* margin-right: 1em; */
}

.Kage .secondLine {
    margin-left: 1em;
    margin-right: .7em;
}

.Kage h2 {
    text-align: center;
}