.footerContainer {
    position: absolute;
    bottom: 1vw;
    background-color: #fc2e20;
    content: "";
    width: 100vw;
    bottom: 0%;
    height: 10vw;
    border-top: 4px solid;
}

.footerAboutUs {
    position: absolute;
    width: 24vw;
    line-height: 1.6;
    font-family: 'Open Sans';
    font-size: 13px;
}

.footerAboutUs p:first-of-type {
    width: 24vw;
    line-height: 1.6;
    font-family: 'Open Sans';
    font-weight: 900;
}


/* ===================================  */

.footermenu {
    position: absolute;
    left: 34vw;
    line-height: 1.8;
}

.footermenu ul {
    list-style-type: none;
}

.footermenu a {
    text-decoration: none;
    font-family: 'open sans';
    font-size: 14px;
    color: #000;
}


/* ================================================== */

.footerSocial {
    position: absolute;
    left: 60vw;
    line-height: 1.6;
    font-family: 'open sans';
    font-size: 13px;
    font-weight: bold;
}

.footerSocial li {
    list-style-type: none;
    font-family: 'open sans';
    font-size: 10px;
}