    /*  navbar desinging */
    
    .navbarContainer {
        left: 25vw;
        position: fixed;
        width: auto;
        z-index: 1;
        overflow: visible;
    }
    
    .box {
        width: 100%;
        top: 0%;
        position: fixed;
        background-color: #fff;
        padding: 3em;
        z-index: 1;
    }
    
    .navbarContainer ul {
        list-style: none;
    }
    
    .navbarContainer li {
        background-color: #c7d0d3;
        width: 150px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 40px;
        line-height: 40px;
        text-align: center;
        float: left;
        position: relative;
    }
    
    .navbarContainer li ul li {
        left: -3em;
    }
    
    .navbarContainer a {
        text-decoration: none;
        color: #8D99AE;
        font-size: 15px;
        width: 4em;
        padding: .6em 3em;
    }
    
    .navbarContainer li:hover {
        font-weight: bold;
        background-color: #9D0208;
        font-size: 13px;
    }
    
    .navbarContainer li ul {
        display: none;
    }
    
    .navbarContainer li:hover ul {
        display: block;
    }
    
    .navbarContainer a:hover {
        font-weight: bold;
        background-color: #D90429;
        font-size: 95%;
    }
    /* ================================================ */
    /* index menu configuration */
    
    #index {
        position: absolute;
        left: 20vw;
        top: 15vh;
        background-color: antiquewhite;
    }
    
    #index li {
        display: inline-block;
        position: relative;
        letter-spacing: .6em;
    }
    
    #index a {
        text-decoration: none;
        text-align: center;
        font-family: 'montserrat';
    }
    /*
    menu:first-child {
        padding-left: -2em;
        margin-left: -2em;
    }
*/
    
    #index li:hover {
        background-color: aquamarine;
    }
    /* ========================================================================= */
    /* clan features  */
    
    .nameOfClan {
        font-family: 'poppins';
        font-weight: 800;
        font-size: 1.4em;
        position: relative;
        top: 18vh;
        left: 10vw;
    }
    
    .clanSpecialities {
        font-family: 'open sans';
        width: 40vw;
        height: 20vh;
        position: relative;
        top: 20vh;
        left: 10vw;
        text-indent: 2em;
    }
    
    .clanImage {
        position: relative;
        left: 50vw;
        top: -12vh;
    }
    
    .clanImage>img {
        width: 30vw;
    }
    
    .clanFigcap {
        font-family: 'open sans';
    }