body {
    display: inline-block;
    text-align: center;
    background-image: url(hokagepic/Summit.jpg);
    background-position: center;
    background-size: contain;
    margin-top: none;
    margin-bottom: none;
    margin-right: none;
    margin-left: none;
}

#color,
#first,
#second,
#third,
#fourth,
#fifth,
#kagePos {
    width: 50vw;
    text-align: center;
    display: inline-block;
}

h1 {
    display: inline-block;
    color: hotpink;
}

h2 {
    margin-top: 1em;
    font-style: oblique;
}

#color {
    color: hotpink;
    background-color: black;
}

#Hats img {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 15em;
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#Kage img {
    position: relative;
    width: 12em;
    height: 10em;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

#Hokage {
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
}

#Kazekage {
    text-decoration: underline;
    text-decoration-color: green;
    color: green;
}

#Mizukage {
    text-decoration: underline;
    text-decoration-color: royalblue;
    color: royalblue;
}

#Raikage {
    text-decoration: underline;
    text-decoration-color: sandybrown;
    color: sandybrown;
}

#Tsuchikage {
    text-decoration: underline;
    text-decoration-color: brown;
    color: brown;
}

#first {
    color: red;
    background-color: black;
}

#second {
    color: green;
    background-color: black;
}

#third {
    color: royalblue;
    background-color: black;
}

#fourth {
    color: sandybrown;
    background-color: black;
}

#fifth {
    color: brown;
    background-color: black;
}