.footerContainer {
    position: relative;
    background-color: #9e9d9aef;
    width: 100vw;
    bottom: 0;
    height: 13vw;
    top: 12em;
    font-size: 11px;
    border-top: 4px solid;
    padding-left: 5em;
    line-height: 1.6;
}

.footerAboutUs {
    position: absolute;
    width: 44vw;
    top: 5em;
}

.footerAboutUs p:first-of-type {
    font-weight: 900;
}


/* ===================================  */

.footermenu {
    position: absolute;
    top: 3em;
    left: 54vw;
    line-height: 1.8;
}

.footermenu ul {
    list-style-type: none;
}

.footermenu a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.footermenu p {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}


/* ================================================== */

#form {
    position: absolute;
    right: 33vw;
    top: 1em;
    font-size: 12;
    font-weight: bold;
}

.footerSocial {
    position: absolute;
    right: 16vw;
    top: 5em;
    font-weight: bold;
}