/*  clan symbols version */

.navbarContainer {
    position: absolute;
    width: 60vw;
    left: 25vw;
    right: 25vw;
    background-color: #fdb750;
}

.navbarContainer ul {
    list-style-type: none;
}

.navbarContainer li {
    display: block;
    float: left;
    padding-right: 6em;
    text-align: center;
    height: 2.5em;
    line-height: 1.5em;
    font-family: 'montserrat';
    color: #000000;
}

.navbarContainer a {
    text-decoration: none;
    color: #000;
}

.navbarContainer .konoha:hover {
    background-repeat: no-repeat;
    margin-left: -40px;
    margin-top: -5px;
    margin-bottom: -20px;
    text-align: center;
    line-height: 30px;
}