/* Managing social bar */

body {
    font-family: 'Open Sans';
    font-size: 14px;
}

h1 {
    text-align: center;
}

#clans_Page {
    width: 50vw;
    position: relative;
    left: 22vw;
    top: 17em;
}


/* clan features  */

.nameOfClan {
    font-weight: 800;
    font-size: 1.4em;
    position: relative;
    top: 10vh;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.clanSpecialities {
    position: relative;
    top: 5vh;
    text-align: center;
    text-indent: 2em;
    text-align: left;
}

.clanImage {
    position: relative;
    right: -50vw;
    bottom: 5em;
    margin-right: 50vw;
}

.clanImage>img {
    height: 30vh;
}

.clanImage>img:hover {
    height: 45vh;
}

#seju,
#uchiha,
#uzumaki,
#kazakage,
#hyuga,
#sarutobi,
#hatake,
#nara,
#yamanaka,
#aburame,
#inuzika,
#raikage,
#hurano {
    margin-top: -10em;
}

:link {
    background-color: rgb(184, 230, 230);
    border-radius: 30%;
}


/* ========================================================================= */

iframe {
    position: relative;
    top: -15em;
    left: 10vw;
    margin-bottom: -14em;
}


/* ===================banners================== */

.leftBanner {
    position: fixed;
    top: 2vh;
    height: 100%;
    width: 25em;
    left: 1em;
    z-index: - 100;
    overflow: hidden;
    background: transparent url(img/play-button.png) repeat;
}

.rightBanner {
    position: fixed;
    top: 2vh;
    right: 0;
    width: 25em;
    height: 100%;
    z-index: - 100;
    overflow: hidden;
    background: transparent url(img/play-button.png) repeat;
}

#sakuraVSshin {
    position: relative;
    left: 20em;
    top: -10em;
    margin-bottom: 1em;
}


/* ======================== */